{% block content %}
	<h1>Enter data</h1>
	<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
		<p>
		{{ form.username.label }}<br>
		{{ form.username(size=20) }}
		</p>

		 <p>
                {{ form.company.label }}<br>
                {{ form.username(size=20) }}
		 </p>

		 <p>
                {{ form.url.label }}<br>
                {{ form.url(size=20) }}
                </p>

		 <p>
                {{ form.platform.label }}<br>
                {{ form.username(size=20) }}
		 </p>


		<p>
                {{ form.version.label }}<br>
               	{{ form.username(size=20) }}
		</p>
		
		<p>
                {{ form.agency.label }}<br>
                {{ form.username(size=20) }}
		</p>

		<p>
		{{ form.email.label }}<br>
		{{ form.username(size=20) }}
		</p>

		<p>{{form.submit}}</p>
	</form>
{% endblock %}

		



